<!--
<div style="overflow: hidden; max-height: 600px; padding: 24px;">
  <img width="100%" src="assets/img/particulares.png">
</div>
-->

<div>
  <img #banner [ngClass]="showBanner ? 'show' : 'hide'" width="100%" src="https://via.placeholder.com/1206x250" />

  <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin: 24px 0px;">
    <img src="https://via.placeholder.com/270x250" />
    <img src="https://via.placeholder.com/270x250" />
    <img src="https://via.placeholder.com/270x250" />
  </div>

  <img width="100%" src="https://via.placeholder.com/1206x150" />
</div>
